<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>AbstractController::Layouts::ClassMethods</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../../css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../../css/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../../css/github.css" type="text/css" media="screen" />
<script src="../../../js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/jquery-effect.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/highlight.pack.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>     
    <div class="banner">
        
        <h1>
            <span class="type">Module</span> 
            AbstractController::Layouts::ClassMethods 
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../files/actionpack/lib/abstract_controller/layouts_rb.html">actionpack/lib/abstract_controller/layouts.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  


  


  
  


  
    <!-- Namespace -->
    <div class="sectiontitle">Namespace</div>
    <ul>
      
        <li>
          <span class="type">MODULE</span>
          <a href="ClassMethods/LayoutConditions.html">AbstractController::Layouts::ClassMethods::LayoutConditions</a>
        </li>
      
    </ul>
  


  
    <!-- Method ref -->
    <div class="sectiontitle">Methods</div>
    <dl class="methods">
      
        <dt>#</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-_implied_layout_name">_implied_layout_name</a>,
              </li>
            
              
              <li>
                <a href="#method-i-_write_layout_method">_write_layout_method</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>I</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-inherited">inherited</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>L</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-layout">layout</a>
              </li>
            
          </ul>
        </dd>
      
    </dl>
  

  
    <!-- Includes -->
    <div class="sectiontitle">Included Modules</div>
    <ul>
      
        <li>
          
            <a href="ClassMethods/LayoutConditions.html">
              AbstractController::Layouts::ClassMethods::LayoutConditions
            </a>
          
        </li>
      
    </ul>
  



  

    

    

    


    


    <!-- Methods -->
        
      <div class="sectiontitle">Instance Public methods</div>
      
        <div class="method">
          <div class="title method-title" id="method-i-_implied_layout_name">
            
              <b>_implied_layout_name</b>()
            
            <a href="../../../classes/AbstractController/Layouts/ClassMethods.html#method-i-_implied_layout_name" name="method-i-_implied_layout_name" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>If no layout is supplied, look for a template named the return value of
this method.</p>

<h4 id="method-i-_implied_layout_name-label-Returns">Returns</h4>
<ul><li>
<p><code>String</code> - A template name</p>
</li></ul>
            </div>
          
          
          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-_implied_layout_name_source')" id="l_method-i-_implied_layout_name_source">show</a>
                
                  | <a href="https://github.com/rails/rails/blob/c203557421b45e4c78de9d551e96e042b1553833/actionpack/lib/abstract_controller/layouts.rb#L266" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-_implied_layout_name_source" class="dyn-source">
                <pre><span class="ruby-comment"># File actionpack/lib/abstract_controller/layouts.rb, line 266</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">_implied_layout_name</span>
  <span class="ruby-identifier">controller_path</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-_write_layout_method">
            
              <b>_write_layout_method</b>()
            
            <a href="../../../classes/AbstractController/Layouts/ClassMethods.html#method-i-_write_layout_method" name="method-i-_write_layout_method" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Creates a _layout method to be called by _default_layout .</p>

<p>If a layout is not explicitly mentioned then look for a layout with the
controller’s name. if nothing is found then try same procedure to find
super class’s layout.</p>
            </div>
          
          
          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-_write_layout_method_source')" id="l_method-i-_write_layout_method_source">show</a>
                
                  | <a href="https://github.com/rails/rails/blob/c203557421b45e4c78de9d551e96e042b1553833/actionpack/lib/abstract_controller/layouts.rb#L274" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-_write_layout_method_source" class="dyn-source">
                <pre><span class="ruby-comment"># File actionpack/lib/abstract_controller/layouts.rb, line 274</span>
      <span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">_write_layout_method</span>
        <span class="ruby-identifier">remove_possible_method</span>(<span class="ruby-value">:_layout</span>)

        <span class="ruby-identifier">prefixes</span>    = <span class="ruby-identifier">_implied_layout_name</span> <span class="ruby-operator">=~</span> <span class="ruby-regexp">/\blayouts/</span> <span class="ruby-operator">?</span> [] <span class="ruby-operator">:</span> [<span class="ruby-string">&quot;layouts&quot;</span>]
        <span class="ruby-identifier">name_clause</span> = <span class="ruby-keyword">if</span> <span class="ruby-identifier">name</span>
          <span class="ruby-value">&lt;&lt;-RUBY
            lookup_context.find_all(&quot;#{_implied_layout_name}&quot;, #{prefixes.inspect}).first || super
          RUBY</span>
        <span class="ruby-keyword">end</span>

        <span class="ruby-keyword">if</span> <span class="ruby-keyword">defined?</span>(<span class="ruby-ivar">@_layout</span>)
          <span class="ruby-identifier">layout_definition</span> = <span class="ruby-keyword">case</span> <span class="ruby-ivar">@_layout</span>
            <span class="ruby-keyword">when</span> <span class="ruby-constant">String</span>
              <span class="ruby-ivar">@_layout</span>.<span class="ruby-identifier">inspect</span>
            <span class="ruby-keyword">when</span> <span class="ruby-constant">Symbol</span>
              <span class="ruby-value">&lt;&lt;-RUBY
                #{@_layout}.tap do |layout|
                  unless layout.is_a?(String) || !layout
                    raise ArgumentError, &quot;Your layout method :#{@_layout} returned \#{layout}. It &quot; \
                      &quot;should have returned a String, false, or nil&quot;
                  end
                end
              RUBY</span>
            <span class="ruby-keyword">when</span> <span class="ruby-constant">Proc</span>
              <span class="ruby-identifier">define_method</span> <span class="ruby-value">:_layout_from_proc</span>, &amp;<span class="ruby-ivar">@_layout</span>
              <span class="ruby-string">&quot;_layout_from_proc(self)&quot;</span>
            <span class="ruby-keyword">when</span> <span class="ruby-keyword">false</span>
              <span class="ruby-keyword">nil</span>
            <span class="ruby-keyword">when</span> <span class="ruby-keyword">true</span>
              <span class="ruby-identifier">raise</span> <span class="ruby-constant">ArgumentError</span>, <span class="ruby-string">&quot;Layouts must be specified as a String, Symbol, false, or nil&quot;</span>
            <span class="ruby-keyword">when</span> <span class="ruby-keyword">nil</span>
              <span class="ruby-identifier">name_clause</span>
            <span class="ruby-keyword">end</span>
        <span class="ruby-keyword">else</span>
          <span class="ruby-comment"># Add a deprecation if the parent layout was explicitly set and the child</span>
          <span class="ruby-comment"># still does a dynamic lookup. In next Rails release, we should @_layout</span>
          <span class="ruby-comment"># to be inheritable so we can skip the child lookup if the parent explicitly</span>
          <span class="ruby-comment"># set the layout.</span>
          <span class="ruby-identifier">parent</span>   = <span class="ruby-keyword">self</span>.<span class="ruby-identifier">superclass</span>.<span class="ruby-identifier">instance_eval</span> { <span class="ruby-ivar">@_layout</span> <span class="ruby-keyword">if</span> <span class="ruby-keyword">defined?</span>(<span class="ruby-ivar">@_layout</span>) }
          <span class="ruby-ivar">@_layout</span> = <span class="ruby-keyword">nil</span>
          <span class="ruby-identifier">inspect</span>  = <span class="ruby-identifier">parent</span>.<span class="ruby-identifier">is_a?</span>(<span class="ruby-constant">Proc</span>) <span class="ruby-operator">?</span> <span class="ruby-identifier">parent</span>.<span class="ruby-identifier">inspect</span> <span class="ruby-operator">:</span> <span class="ruby-identifier">parent</span>

          <span class="ruby-identifier">layout_definition</span> = <span class="ruby-keyword">if</span> <span class="ruby-identifier">parent</span>.<span class="ruby-identifier">nil?</span>
              <span class="ruby-identifier">name_clause</span>
            <span class="ruby-keyword">elsif</span> <span class="ruby-identifier">name</span>
              <span class="ruby-value">&lt;&lt;-RUBY
                if template = lookup_context.find_all(&quot;#{_implied_layout_name}&quot;, #{prefixes.inspect}).first
                  ActiveSupport::Deprecation.warn 'Layout found at &quot;#{_implied_layout_name}&quot; for #{name} but parent controller ' \
                    'set layout to #{inspect.inspect}. Please explicitly set your layout to &quot;#{_implied_layout_name}&quot; ' \
                    'or set it to nil to force a dynamic lookup.'
                  template
                else
                  super
                end
              RUBY</span>
            <span class="ruby-keyword">end</span>
        <span class="ruby-keyword">end</span>

        <span class="ruby-keyword">self</span>.<span class="ruby-identifier">class_eval</span> <span class="ruby-string">&quot;          def _layout
            if conditional_layout?
              #{layout_definition}
            else
              #{name_clause}
            end
          end
          private :_layout
&quot;</span>, <span class="ruby-keyword">__FILE__</span>, <span class="ruby-keyword">__LINE__</span> <span class="ruby-operator">+</span> <span class="ruby-number">1</span>
      <span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-inherited">
            
              <b>inherited</b>(klass)
            
            <a href="../../../classes/AbstractController/Layouts/ClassMethods.html#method-i-inherited" name="method-i-inherited" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              
            </div>
          
          
          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-inherited_source')" id="l_method-i-inherited_source">show</a>
                
                  | <a href="https://github.com/rails/rails/blob/c203557421b45e4c78de9d551e96e042b1553833/actionpack/lib/abstract_controller/layouts.rb#L207" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-inherited_source" class="dyn-source">
                <pre><span class="ruby-comment"># File actionpack/lib/abstract_controller/layouts.rb, line 207</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">inherited</span>(<span class="ruby-identifier">klass</span>)
  <span class="ruby-keyword">super</span>
  <span class="ruby-identifier">klass</span>.<span class="ruby-identifier">_write_layout_method</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-layout">
            
              <b>layout</b>(layout, conditions = {})
            
            <a href="../../../classes/AbstractController/Layouts/ClassMethods.html#method-i-layout" name="method-i-layout" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Specify the layout to use for this class.</p>

<p>If the specified layout is a:</p>
<dl class="rdoc-list note-list"><dt><a href="../../String.html">String</a>
<dd>
<p>the <a href="../../String.html">String</a> is the template name</p>
</dd><dt><a href="../../Symbol.html">Symbol</a>
<dd>
<p>call the method specified by the symbol, which will return the template
name</p>
</dd><dt>false
<dd>
<p>There is no layout</p>
</dd><dt>true
<dd>
<p>raise an ArgumentError</p>
</dd><dt>nil
<dd>
<p>Force default layout behavior with inheritance</p>
</dd></dl>

<h4 id="method-i-layout-label-Parameters">Parameters</h4>
<ul><li>
<p><code>layout</code> - The layout to use.</p>
</li></ul>

<h4 id="method-i-layout-label-Options+%28conditions%29">Options (conditions)</h4>
<ul><li>
<p>:only   - A list of actions to apply this layout to.</p>
</li><li>
<p>:except - Apply this layout to all actions but this one.</p>
</li></ul>
            </div>
          
          
          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-layout_source')" id="l_method-i-layout_source">show</a>
                
                  | <a href="https://github.com/rails/rails/blob/c203557421b45e4c78de9d551e96e042b1553833/actionpack/lib/abstract_controller/layouts.rb#L251" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-layout_source" class="dyn-source">
                <pre><span class="ruby-comment"># File actionpack/lib/abstract_controller/layouts.rb, line 251</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">layout</span>(<span class="ruby-identifier">layout</span>, <span class="ruby-identifier">conditions</span> = {})
  <span class="ruby-identifier">include</span> <span class="ruby-constant">LayoutConditions</span> <span class="ruby-keyword">unless</span> <span class="ruby-identifier">conditions</span>.<span class="ruby-identifier">empty?</span>

  <span class="ruby-identifier">conditions</span>.<span class="ruby-identifier">each</span> {<span class="ruby-operator">|</span><span class="ruby-identifier">k</span>, <span class="ruby-identifier">v</span><span class="ruby-operator">|</span> <span class="ruby-identifier">conditions</span>[<span class="ruby-identifier">k</span>] = <span class="ruby-constant">Array</span>(<span class="ruby-identifier">v</span>).<span class="ruby-identifier">map</span> {<span class="ruby-operator">|</span><span class="ruby-identifier">a</span><span class="ruby-operator">|</span> <span class="ruby-identifier">a</span>.<span class="ruby-identifier">to_s</span>} }
  <span class="ruby-keyword">self</span>.<span class="ruby-identifier">_layout_conditions</span> = <span class="ruby-identifier">conditions</span>

  <span class="ruby-ivar">@_layout</span> = <span class="ruby-identifier">layout</span>
  <span class="ruby-identifier">_write_layout_method</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
                    </div>

    </div>
  </body>
</html>    